.button {
  display: inline-block;
  font-size: 17px;
  color: currentColor;
  background-color: var(--secondary-light-color);
  padding: 12px 20px;
  border-radius: var(--border-radius-small);
  cursor: default;

  @include hover {
    & {
      background-color: var(--secondary-light-color-alt);
    }
  }
}
