.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;

  &__nav-list {
    display: flex;
  }
  &__nav-item {
    display: inline;
    font-weight: 400;
    font-size: 17px;

    @include hover {
      color: var(--primary-light-color-alt);
    }
  }
  &__nav-link {
    padding: var(--link-ux-padding);
  }
  &__nav-link--active {
    color: var(--secondary-light-color);

    @include hover {
      color: var(--secondary-light-color-alt);
    }
  }
}
