.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 40px 0;

  &__nav-list {
    display: flex;
    column-gap: 40px;
  }
  &__nav-item {
    display: inline;
    font-weight: 400;
    font-size: 17px;

    @include hover {
      color: var(--primary-light-color-alt);
    }
  }
  &__nav-link--active {
    color: var(--secondary-light-color);

    @include hover {
      color: var(--secondary-light-color-alt);
    }
  }
}