.hero {
  display: flex;
  column-gap: 60px;
  align-items: center;

  &__heading {
    font-size: 70px;
    letter-spacing: 3.2px;
    margin-bottom: 90px;

    &--next::after {
      content: url("../../assets/images/next.svg");
      position: absolute;
      margin: 20px 0 0 -152px;
    }
  }
}

.social-links {
  &__list {
    display: flex;
    column-gap: 17px;
  }
  &__title {
    display: block;
    margin-bottom: 16px;
    font-size: 15px;
  }
}