.latest-episodes {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 2.88px;
    margin: 100px 0px;
  }

  &__episodes_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
  }
}

.episode {
  background-color: #000;
  padding: 40px;
  border-radius: 32px;
  min-width: 100%;
  display: flex;
  column-gap: 50px;

  &__header {
    margin: 0px 0px 18px 0px;
  }
  &__number {
    font-size: 17px;
    line-height: 27px;
    color: #118ad8;
  }
  &__title {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
  }
  &__description {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0px 0px 18px 0px;
  }
}

.badges-list {
  margin: 0px 0px 50px 0px;

  &__badge {
    border-radius: 6px;
    padding: 0 16px;
    font-size: 18px;
    line-height: 27px;
    background-color: #191919;
  }
}
