.latest-episodes {
  padding-top: 94px;
  padding-bottom: 160px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 64px;
  }

  &__heading {
    font-size: 64px;
  }

  &__episodes_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
  }
}

.episode {
  background-color: var(--primary-dark-color-alt);
  padding: 40px;
  border-radius: var(--border-radius-large);
  display: flex;
  column-gap: 50px;

  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  &__header {
    margin-bottom: 18px;
  }
  &__number {
    font-size: 17px;
    color: var(--secondary-light-color);
  }
  &__title {
    font-size: 64px;
    margin-bottom: 28px;
  }
  &__description {
    color: var(--primary-light-color-alt);
    margin-bottom: 18px;
  }
  &__footer {
    align-self: end;
  }
}

.badges-list {
  margin-bottom: 48px;

  &__badge {
    border-radius: var(--border-radius-small);
    padding: 4px 16px;
    font-size: 18px;
    background-color: var(--primary-dark-color);
  }
}
