body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  color: var(--primary-light-color);
  background-color: var(--primary-dark-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, input, svg * {
  transition-duration: var(--transition-duration);
}