:root {
  --primary-dark-color: #191919;
  --primary-dark-color-alt: #000000;
  --primary-light-color: #FFFFFF;
  --primary-light-color-alt: #FFFFFFB2;
  --secondary-light-color: #118DA8;
  --secondary-light-color-alt: #118DA8B3;

  --font-family: 'DM Sans', sans-serif;
  --input-height: 82px;
  --transition-duration: 0.2s;

  --border-radius-small: 6px;
  --border-radius-large: 32px;

  --container-width: 1300px;
  --container-padding-x: 70px;
}