@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --primary-dark-color: #191919;
  --primary-dark-color-alt: #000000;
  --primary-light-color: #ffffff;
  --primary-light-color-alt: #ffffffb2;
  --secondary-light-color: #118da8;
  --secondary-light-color-alt: #118da8b3;
  --font-family: "DM Sans", sans-serif;
  --input-height: 82px;
  --transition-duration: 0.2s;
  --border-radius-small: 6px;
  --border-radius-large: 32px;
  --container-width: 1300px;
  --container-padding-x: 70px;
  --link-ux-padding: 20px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.28;
  color: var(--primary-light-color);
  background-color: var(--primary-dark-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button,
input,
svg * {
  transition-duration: var(--transition-duration);
  border: none;
}

::-moz-placeholder {
  color: var(--primary-light-color-alt);
  font-size: 24px;
}

::placeholder {
  color: var(--primary-light-color-alt);
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: 2.88px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: inline;
}

.button {
  display: inline-block;
  font-size: 17px;
  color: currentColor;
  background-color: var(--secondary-light-color);
  padding: 12px 20px;
  border-radius: var(--border-radius-small);
  cursor: default;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--secondary-light-color-alt);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--secondary-light-color-alt);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  display: inline;
  font-weight: 400;
  font-size: 17px;
}
@media (hover: hover) {
  .header__nav-item:hover {
    color: var(--primary-light-color-alt);
  }
}
@media (hover: none) {
  .header__nav-item:active {
    color: var(--primary-light-color-alt);
  }
}
.header__nav-link {
  padding: var(--link-ux-padding);
}
.header__nav-link--active {
  color: var(--secondary-light-color);
}
@media (hover: hover) {
  .header__nav-link--active:hover {
    color: var(--secondary-light-color-alt);
  }
}
@media (hover: none) {
  .header__nav-link--active:active {
    color: var(--secondary-light-color-alt);
  }
}

.hero {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  align-items: center;
}
@media (max-width: 1200px) {
  .hero__img {
    width: 450px;
  }
}
.hero__heading {
  font-size: 70px;
  margin-bottom: 90px;
}
@media (max-width: 1200px) {
  .hero__heading {
    font-size: 64px;
  }
}
.hero__heading--next::after {
  content: url("../assets/images/next.svg");
  position: absolute;
  margin: 20px 0 0 -152px;
}

.social-links__list {
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.social-links__title {
  display: block;
  margin-bottom: 16px;
  font-size: 15px;
}

.latest-episodes {
  padding-top: 94px;
  padding-bottom: 160px;
}
@media (max-width: 1200px) {
  .latest-episodes {
    padding-bottom: 80px;
  }
}
.latest-episodes__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
.latest-episodes__heading {
  font-size: 64px;
}
@media (max-width: 1200px) {
  .latest-episodes__heading {
    font-size: 58px;
  }
}
.latest-episodes__episodes_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
}

.episode {
  background-color: var(--primary-dark-color-alt);
  padding: 40px;
  border-radius: var(--border-radius-large);
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}
@media (max-width: 1200px) {
  .episode {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 1200px) {
  .episode__img {
    width: 350px;
  }
}
.episode__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.episode__header {
  margin-bottom: 18px;
}
.episode__number {
  font-size: 17px;
  color: var(--secondary-light-color);
  padding-top: var(--link-ux-padding);
  padding-bottom: var(--link-ux-padding);
}
@media (hover: hover) {
  .episode__number:hover {
    color: var(--secondary-light-color-alt);
  }
}
@media (hover: none) {
  .episode__number:active {
    color: var(--secondary-light-color-alt);
  }
}
.episode__title {
  font-size: 52px;
  margin-bottom: 28px;
}
@media (max-width: 1200px) {
  .episode__title {
    font-size: 46px;
  }
}
.episode__description {
  color: var(--primary-light-color-alt);
  margin-bottom: 18px;
}
.episode__footer {
  flex-grow: 1;
  display: flex;
  align-items: end;
}

.badges-list {
  margin-bottom: 26px;
}
.badges-list__badge {
  border-radius: var(--border-radius-small);
  padding: 4px 16px;
  font-size: 18px;
  background-color: var(--primary-dark-color);
}

.staff {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  .staff {
    padding-bottom: 50px;
  }
}
.staff__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.staff .content__next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 16px;
  margin-bottom: 20px;
}
.staff .content__meet-link {
  font-size: 18px;
  padding-top: var(--link-ux-padding);
  padding-bottom: var(--link-ux-padding);
  color: var(--secondary-light-color);
}
@media (hover: hover) {
  .staff .content__meet-link:hover {
    color: var(--secondary-light-color-alt);
  }
}
@media (hover: none) {
  .staff .content__meet-link:active {
    color: var(--secondary-light-color-alt);
  }
}
.staff .content__title {
  font-size: 65px;
  margin-bottom: 28px;
}
@media (max-width: 1200px) {
  .staff .content__title {
    font-size: 56px;
  }
}
.staff .content__description {
  color: var(--primary-light-color-alt);
}
@media (max-width: 1200px) {
  .staff .content__img {
    width: 450px;
  }
}

.newsletter {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  .newsletter {
    padding-bottom: 50px;
  }
}
.newsletter__wrapper {
  display: flex;
  -moz-column-gap: 76px;
       column-gap: 76px;
  padding: 60px;
  background-color: var(--primary-dark-color-alt);
  border-radius: var(--border-radius-large);
}
@media (max-width: 1200px) {
  .newsletter__wrapper {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
.newsletter .content__title {
  font-size: 72px;
}
@media (max-width: 1200px) {
  .newsletter .content__title {
    font-size: 58px;
  }
}
.newsletter .content__title--small {
  font-size: 18px;
  color: var(--secondary-light-color);
}
.newsletter .form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
.newsletter .form__input-name, .newsletter .form__input-email {
  height: var(--input-height);
  width: 100%;
  background-color: var(--primary-dark-color);
  border-radius: var(--border-radius-small);
  padding: 20px 25px;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  .reviews {
    padding-bottom: 50px;
  }
}
.reviews__reviews-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 50px;
  background-color: var(--primary-dark-color-alt);
  border-radius: var(--border-radius-large);
}
.review__rate {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.review__title {
  display: block;
  font-size: 36px;
}
@media (max-width: 1200px) {
  .review__title {
    font-size: 32px;
  }
}
.review__author {
  font-size: 24px;
  color: var(--primary-light-color-alt);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  .footer {
    padding-bottom: 50px;
  }
}
.footer .logo-container {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
.footer .logo-container__social-links {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__nav {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.footer__nav .nav__list {
  display: flex;
  flex-direction: column;
}
.footer__nav .nav__link {
  display: inline-block;
  font-size: 18px;
  padding-top: calc(var(--link-ux-padding) / 2);
  padding-bottom: calc(var(--link-ux-padding) / 2);
}
@media (hover: hover) {
  .footer__nav .nav__link:hover {
    color: var(--primary-light-color-alt);
  }
}
@media (hover: none) {
  .footer__nav .nav__link:active {
    color: var(--primary-light-color-alt);
  }
}/*# sourceMappingURL=style.css.map */